@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: initial;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  /* background-color: rgb(53, 52, 52); */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  /* cursor: none; */
  /* pointer-events: none; */
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d0d0d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d0d0d;
}

.customGradientDark {
  background: linear-gradient(to right, #e31d1d, #999696);
}

.customGradientLight {
  background: linear-gradient(to right, #0d0d0d, #999696);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  /* overflow: hidden; */
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
